<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Fast Zero{% endblock %}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
    integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <div class="container-fluid no-padding">


    <nav class="navbar navbar-expand-sm">
      <!-- Brand/logo -->

      <a class="navbar-brand nav-logo" href="index_ui.html">
        <img src="{{ url_for('static', filename='imgs/logo-removebg-preview.png') }}" alt="logo">
      </a>

      <!-- Links -->
      {% block top_nav %}
      <div class="nav nav-link-pull-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('run') }}" style="font-weight: 500;">Why Fast?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}" style="font-weight: 500;">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}" style="font-weight: 500;">Login</a>
          </li>
        </ul>
      </div>
      {% endblock %}
    </nav>


    {% block content %}{% endblock %}


    <footer class="footer">

      <div>

        <h6>Fast Zero</h6>

      </div>

    </footer>

  </div>



</body>

</html>