{% extends 'base_auth.html' %}


{% block content %}
<style>
  form{
    text-align: center
  }


</style>

<section class="section-info">

    <h3>Timer</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <div class="form-wrapper">

        <form action="{{ url_for('start_fast') }}" method="post">
            <button type="submit" class="btn btn-primary text-center">Start Fast Time</button>
        </form>

        <form action="{{ url_for('end_fast') }}" method="post">
            <button type="submit" class="btn btn-primary text-center">End Fast Time</button>
        </form>
    </div>
</section>
{% endblock %}